/* These are some detailing for the whole page and body part */

*{
    color: whitesmoke;
}

body{
    background-image: url('background.jpg');
    background-size:cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

/* ************************************************** */

/* This is how I styled images, table and instruction of meal detail page */

.container{
    display: flex;
    flex-direction: column;

}

.imgAndIngredients{

    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}

.mealImage{
    height: 500px;
    width: 600px;
}

.table{
    width: 600px !important;
}

.centerClass{
    text-align: center;
}

/* ************************************************ */

/* here are some media queries */

@media (max-width : 980px){

    .imgAndIngredients{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .table{
       width: 450px !important;
    }

}
